<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar sesión - Tienda de electrónicos</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
  </head>
  <!-- Header -->
  <header>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-9">
          <div class="logo">
            <img src="img/logo.png"  style="width: 600px; height: 200px;" alt="Logo">
          </div>
        </div>
        <div class="col-md-3">
          <nav class="text-md-right">
            <ul class="nav">
              <li class="nav-item"><a class="nav-link" href="/index.html">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="register.html">Registro</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <body>
    <div id="app">
      <h1>Iniciar sesión</h1>
      <ul>
        {{ error }}
      </ul>
    <form @submit.prevent="login" action="index.html" method="post">
      <label for="email">Correo electrónico:</label>
      <input type="email" v-model="email">

      <label for="contrasena">Contraseña:</label>
      <input type="password" v-model="contraseña">

      <input type="submit" value="Iniciar sesión">

      <div class="registrarse">
        ¿No tienes cuenta? <a href="register.html">Regístrate aquí</a>
      </div>
    </form>
    </div>
    <!-- Footer -->
    <footer class="footer" style="margin-top: 131px;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-md-6">
            <p class="rights">Derechos Reservados 2023</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- codigo script de vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="login.js"></script>


  </body>
</html>

