<!DOCTYPE html>
<html>
  <head>
    <title>Registro de cliente - Tienda de electrónicos</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <!-- Aqui inicia la inserccion de vue #app -->
    <div id="app">
      <h1>Registro de cliente</h1>
      <p v-if="errors.length">
        <ul class="base" id="modal" style="display: none;" class="modal">
          <b v-if="errors.length" class="titu_e">Por favor, corrija el(los) siguiente(s) error(es):</b>
          <li v-for="error in errors" class="errores">{{ error }}</li>
          <button onclick="closeModal()" class="button1">Cerrar</button>
        </ul>
      </p>
     <form  @submit.prevent="checkForm"   method="post" action="login.html">
      <label for="nombre">Nombre*:</label>
      <input type="text" v-model="nombre" >

      <label for="apellido">Apellido*:</label>
      <input type="text" v-model="apellido">

      <label for="email">Email*:</label>
      <input type="email" v-model="email">

      <label for="telefono">Teléfono*:</label>
      <input type="tel" v-model="telefono">

      <label for="telefono2">Teléfono 2:</label>
      <input type="tel" v-model="telefono2">

      <label for="direccion">Dirección*:</label>
      <input type="text" v-model="direccion">

      <label for="contrasena">Contraseña*:</label>
      <input type="password" v-model="contraseña">
      <label for="contrasena">Repetir Contraseña*:</label>
      <input type="password" v-model="r_contraseña">

       <input type="submit" onclick="openModal()" value="Registrarse">
    </form>
    </div>
    <!-- aqui termina vue -->
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="codigo.js"></script>
  <script src="modal.js"></script>
  <script>
    const { createApp } = Vue
    

    createApp({
        data() {
          return {
            errors: [],
            prueba: 'Hello Vue!',
            nombre: '',
            apellido:'',
            email:'',
            telefono:'',
            direccion:'',
            contraseña:'',
            r_contraseña:''
         }
        },

      
      
      }).mount('#app')
      

  </script>
</html>
