* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

nav li {
	margin: 0 10px;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.products {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

.products article {
	background-color: #f2f2f2;
	box-shadow: 1px
}